<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container" id="uploadHistory" style="margin-top:5px">
   <h1 class="text-heading"><b>Gallery</b></h1>
   <!-- <hr style="width:50px;border:5px solid black" class="w3-round"> -->

    <!-- <h1>Recent Uploads</h1> -->
   <!-- <img *ngIf="loading" src="assets/loading.gif" width="400" /> -->
   <!-- <mat-spinner *ngIf="loading" id="spin" [diameter]="150" primary style="margin-top:50px;margin:0 auto;"></mat-spinner> -->
   <!-- <div class="center" *ngIf="loading">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div> -->

   <!-- <div  class="w3-row w3-container">
    <div *ngFor="let name of graphNames;index as i;">
      <div class="w3-col s4  w3-center w3-padding-large">
        <div class="w3-card-4" >
          <div id="uploaded">
            <button (click)="fileSelection(name)">
                <h2>{{name}} Graph</h2>
              
            </button>
           </div>
        </div>
      </div> 
    </div>
   </div> -->



   <main id="main">
   <section id="values" class="values">

    <div class="container" data-aos="fade-up">


      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/para-1.gif" (click)='fileSelection("line graph")' class="img-fluid" alt="">
        
            <h3 (click)='fileSelection("line graph")'>Line Graphs</h3>
            
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">

            <img src="assets/img/galleryBarChart.png" (click)='fileSelection("bar graph")'  class="img-fluid" alt="">
            <h3 (click)='fileSelection("bar graph")' >Bar Graphs</h3>
            
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/galleryPie.png" (click)='fileSelection("pie chart")' class="img-fluid" alt="">
            <h3 (click)='fileSelection("pie chart")'>Pie Charts</h3>
            
          </div>
        </div>

        

      </div>


      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/flow.png" (click)='fileSelection("flow chart")' class="img-fluid" alt="">
            <h3 (click)='fileSelection("flow chart")'>Flow Charts</h3>
            
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/bloxplots.jpg" (click)='fileSelection("table")'  class="img-fluid" alt="">
            <h3 (click)='fileSelection("table")' >Tables</h3>

            
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/bloxplots.jpg" (click)='fileSelection("pie chart")' class="img-fluid" alt="">
            <h3 (click)='fileSelection("pie chart")'>Charts</h3>
            
          </div>
        </div>

        

      </div>

    </div>
  </section>

  </main>




  <!-- <main id="main">
    <section id="values" class="values">
 
     <div class="container" data-aos="fade-up">
 
 
       <div class="row">
 
         <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
           <div class="box">
             <img src="assets/img/para-1.gif" (click)="onSubmitLineGraphs()" class="img-fluid" alt="">
             <h3 (click)="onSubmitLineGraphs()">Line Graphs</h3>
             
           </div>
         </div>
 
         <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
           <div class="box">
             <img src="assets/img/galleryBarChart.png" class="img-fluid" alt="">
             <h3 (click)="onSubmitLineGraphs()" >Bar Graphs</h3>
             
           </div>
         </div>
 
         <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
           <div class="box">
             <img src="assets/img/bloxplots.jpg" class="img-fluid" alt="">
             <h3 (click)="onSubmitLineGraphs()" >Charts</h3>
             
           </div>
         </div>
 
       </div>
 
     </div>
 
   </section>
 
   </main> -->

</div>


