#popupImg{
    width:100%;
    //height:80%;
    
}
.admin-box{
    height:fit-content;
}

.delete-button{
    padding-top: 10px;
}

.select-button{
    padding-top: 20px;
}

 
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #333333;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1.2em;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans';
    padding-left: 10px;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #333333;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #333333;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    bottom: 100%
 }
 .select:hover::after {
    color: white;
 }
 
 