<div class="container py-5">
    <div class="row">
      <div class="col-4">
        <canvas id="line_chart" width="400px" height="400px"></canvas>
        <h3 class="text-center mt-3">Line Chart</h3>
      </div>
      <div class="col-4">
        <canvas id="bar_chart" width="400px" height="400px"></canvas>
        <h3 class="text-center mt-3">Bar Chart</h3>
        <input id="par1" type="text" name="message" value="45" />
      </div>
    </div>
  </div>

  <html>
    <body>
      
    
    
        <input name="inputb" type="number" id="inputb" value="300000">  
        <input name="inputa" type="number" id="inputa" value="50000"> 
     <ul>
          <li>Total loss of: 
            <input name="inputc" type="number" id="inputc" value="400000"></li>
            
     
            
        </ul>
         
          <button onclick="graphMe()">Update Graph</button>
      
      
    <div class="graph_container">
                                <canvas id="Chart1"></canvas>
                </div>
    </body>
    </html>