<div class="w3-container" id="uploadHistory" style="margin-top:5px">
    <div class="w3-container" id="uploadHistory" style="margin-top:5px">
    <hr style="width:50px;border:5px solid black" class="w3-round">
    <!-- <img id="load" *ngIf="loading" src="assets/loading.gif" width="400"/> -->
    <!-- <mat-spinner *ngIf="loading" id="spin" [diameter]="250" primary style="margin:0 auto;"></mat-spinner> -->

    <div class="center" *ngIf="loading">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>

    <div id="divChart" width = "400" height = "400">
        <canvas id="myChart" ></canvas>
    </div>
    <!-- <p>here</p> -->

    <style>
        #myChart{
            width: 300px;
            height: 400px;
        }
    </style>


</div>