<div class="w3-container" id="uploadHistory" style="margin-top:5px">
    <h1 class="w3-xxxlarge w3-text-black"><b>Activity Tracker</b></h1>
    <hr style="width:50px;border:5px solid black" class="w3-round">
    <!-- <img id="load" *ngIf="loading" src="assets/loading.gif" width="400"/> -->
    <mat-spinner *ngIf="loading" id="spin" [diameter]="250" primary style="margin:0 auto;"></mat-spinner>
    <div id="divChart" width = "400" height = "400">
        <canvas id="myChart" ></canvas>
    </div>
    <!-- <p>here</p> -->

</div>