Server/__pycache__/app.cpython-310.pyc
Server/.env
*.pyc
.idea
.pytest_cache
Server/.pytest_cache
Server/.tox
Server/.coverage
.idea/workspace.xml
*.pyc
*.pyc
*.pyc
Server/test/__pycache__/test_routes.cpython-310-pytest-7.1.2.pyc
Server/database/firebaseKey.json
Server/database/__pycache__/database.cpython-310.pyc
*/node_modules
node_modules
Server/venv/
Server/database/__pycache__/database.cpython-310.pyc
Server/Multi_Class_Model/variables/variables.data-00000-of-00001
*.png
*.jpg
Server/model/variables/variables.data-00000-of-00001
Server/database/__pycache__/database.cpython-310.pyc
Server/database/__pycache__/database.cpython-310.pyc
