<div class="w3-container">
    <br/>
    <h1 class="w3-xxxlarge w3-text-black" ><b>Plot graph using formulae</b></h1>
    <img *ngIf="loading" src="assets/loading.gif" width="400" />  
    <form [formGroup]="form" (ngSubmit)="onFomulaSubmit()"  *ngIf="!loading">

            <label for="formula">Enter formulae below</label>
            <div>
            <input formControlName="formula" placeholder="" matInput required>
            <!-- mat-error is for validation  -->
                <!--<mat-error *ngIf="form.get('username')?.touched && form.get('username')?.invalid"> 
        email is <strong>required</strong>
            </mat-error> -->

        
            <button id="drawbtn" [disabled]="form.get('username')?.invalid || form.get('password')?.invalid" class="w3-blue"type="submit">Draw</button>
        </div>
        <div class="w3-card-4" class="card" style="width:35%">
                <img id="graphImg" src={{displayImg}} *ngIf="display">
                <a *ngIf="display" id="downloadBtn" class="btn btn-primary w3-blue" (click)="downloadFile(displayImg)" >Download</a>
                
             </div>

    </form>
</div>
