input
{
    padding-left: 20px;
   border:solid 2px black;
   height: 40px;
   line-height: 20px;
   vertical-align: middle
}
button
{
    border: none;
    color: white;
    height: 40px;
    width:80px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;

}

#card{
    border: black;
    height: 100px;
}



