<p>graph-plotting works!</p>

    <form [formGroup]="form" (ngSubmit)="onFomulaSubmit()">
        <h3 id="logo">Draw graph using Fomula </h3>
        
            <label for="formula">Fomula</label>
            <input formControlName="formula" placeholder="Email" matInput required>
            <!-- mat-error is for validation  -->
                <!--<mat-error *ngIf="form.get('username')?.touched && form.get('username')?.invalid"> 
        email is <strong>required</strong>
            </mat-error> -->


        <button id="loginbtn" [disabled]="form.get('username')?.invalid || form.get('password')?.invalid" type="submit">Log In</button>
        <img mat-card-image id="uploadedImg" src={{displayImg}} alt="graph">
    </form>
