<!-- <div class="row">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
      <div class="col-md-6 offset-md-3 mt-4">
          <h3>Register New User</h3>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="registerUsername" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="registerUsername" class ="form-control is-invalid" placeholder="Enter Name">
                <div class="invalid-feedback">
                  Username Required
                </div>

              </div>
  
              <div class="mb-3">
                <label for="Surname" class="form-label">Surname</label>
                <input type="text" class="form-control" id="surname" formControlName="Surname" class ="form-control is-invalid" placeholder="Enter Surame">
                <div class="invalid-feedback" >
                  
                  Surname Required
                </div>
              </div>
  
              <div class="mb-3">
                <label for="registerEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="registerEmail" class ="form-control is-invalid"  placeholder="Enter email">
                <div class="invalid-feedback">
                  Email Required
                </div>
              </div>
  
              <div class="mb-3">
                  <label for="registerPassword" class="form-label">Password</label>
                  <input type="password" class="form-control" id="registerPassword" formControlName="registerPassword" class ="form-control is-invalid" placeholder="Password">
                  <div class="invalid-feedback">
                    Password Required
                  </div>
                </div>

                <div class="mb-3">
                  <label for="confirmPassword" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" class ="form-control is-invalid" placeholder="Confirm Password">
                  <div class="invalid-feedback">
                    Passwords Don't Match
                  </div>
                </div>
  
              <button type="submit" class="btn btn-primary" [disabled]="form.get('username')?.invalid || form.get('password')?.invalid" type="submit">Register<i class="fas fa-sign-in-alt"></i></button>
            </form>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src = "bootstrap-validate.js"></script> --> 




<!-- <working functionality> -->

  <!-- <div class="row">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <div class="col-md-6 offset-md-3">
       <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div> 
      <h2 id="logo">New User Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label>First Name</label>
              <input type="text" formControlName= "name" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.name.errors }" />
                  <div *ngIf="submitted && registerForm.controls.name.errors" class="text-danger">
                  <div *ngIf="registerForm.controls.name.errors.required">First Name is required</div>
                  <div *ngIf="registerForm.controls.name.errors.minlength">First Name must be at least 2 characters</div>
                </div>
        </div>

    <div class="form-group">
        <label>Last Name</label>
        <input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.surname.errors }" />
        <div *ngIf="submitted && registerForm.controls.surname.errors" class="text-danger">
              <div *ngIf="registerForm.controls.surname.errors.required">Last Name is required</div>
              <div *ngIf="registerForm.controls.surname.errors.minlength">Last Name must be at least 2 characters</div>
        </div>
    </div>


    <div class="form-group">
              <label>Email</label>
                  <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }" />
                      <div *ngIf="submitted && registerForm.controls.email.errors" class="text-danger">
                        <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
                         <div *ngIf="registerForm.controls.email.errors.email">Email must be a valid email address</div>
                      </div>
    </div>


    <div class="form-group">
      <label>Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }"  />
          <div *ngIf="submitted && registerForm.controls.password.errors" class="text-danger">
            <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
                   <div *ngIf="registerForm.controls.password.errors.minlength">Password must be at least 8 characters</div>
          </div>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
          <input type="password" formControlName="cpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.cpassword.errors }"  />
          <div *ngIf="submitted && registerForm.controls.cpassword.errors" class="text-danger">
            <div *ngIf="registerForm.controls.cpassword.errors.required">Enter password again</div>
            <div *ngIf="registerForm.controls.cpassword.errors.minlength">Password must be at least 8 characters</div>
            <div *ngIf="registerForm.controls.cpassword.errors.MustMatch">Password entered is not the same</div>
            <div *ngIf="registerForm.controls.cpassword.errors.required">Enter password again</div> 
                   
          </div>
    </div>


          <div class="form-group">
              <button id="loginbtn" class="btn btn-primary">Register</button>
          </div>
  </form>
  </div>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
     





<!-- <Moe's UI> -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
      
        <title></title>
     
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>


        
    
    
    </head>
    <body>
        <div id="loginForm">
            <div id="formContent">
                <div class="background">
                    <div class="shape"></div>
                    <div class="shape"></div>
                </div>
                <form id="reg" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <table>
                        
                            <h3 id="logo">Register</h3>
                        <tr>   
                            <td> 
                                <label for="FName">First Name</label>
                                <input  formControlName= "name" class="form-control" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.name.errors }" />
                                <div *ngIf="submitted && registerForm.controls.name.errors" class="text-danger">
                                  <div *ngIf="registerForm.controls.name.errors.required">First Name is required</div>
                                  <div *ngIf="registerForm.controls.name.errors.minlength">First Name must be </div>
                                  <div *ngIf="registerForm.controls.name.errors.minlength">at least 2 characters</div>
                                </div>
                            </td>
                            <td>
                              <label for="surname">Surname</label>
                              <input type="text" formControlName="surname" class="form-control" placeholder="Surname"  [ngClass]="{ 'is-invalid': submitted && registerForm.controls.surname.errors }" />
                              <div *ngIf="submitted && registerForm.controls.surname.errors" class="text-danger">
                                <div *ngIf="registerForm.controls.surname.errors.required">Last Name is required</div>
                                <div *ngIf="registerForm.controls.surname.errors.minlength">Last Name must be </div>
                                <div *ngIf="registerForm.controls.surname.errors.minlength">at least 2 characters</div>
                          </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }"  />
                            <div *ngIf="submitted && registerForm.controls.password.errors" class="text-danger">
                              <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
                                     <div *ngIf="registerForm.controls.password.errors.minlength">Password must be </div>
                                     <div *ngIf="registerForm.controls.password.errors.minlength">at least 8 characters</div>
                            </div>
                        </td>

                        <td>
                          <label for="Email">Email</label>
                          <input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }" />
                          <div *ngIf="submitted && registerForm.controls.email.errors" class="text-danger">
                            <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
                             <div *ngIf="registerForm.controls.email.errors.email"> Invalid email address</div>
                          </div>
                      </td>  
              
                        </tr>
    
                        <tr>
                            
                            <td>
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" formControlName="cpassword" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.cpassword.errors }"  />
                                <div *ngIf="submitted && registerForm.controls.cpassword.errors" class="text-danger">
                                  <div *ngIf="registerForm.controls.cpassword.errors.required">Enter password again</div>
                                  <div *ngIf="registerForm.controls.cpassword.errors.minlength">Password must be </div>
                                  <div *ngIf="registerForm.controls.cpassword.errors.minlength">at least 8 characters</div>
                                  <div *ngIf="registerForm.controls.cpassword.errors.MustMatch">Password is not the same</div>                                         
                                </div>
                            </td>
                        </tr>                    
                        
                    </table> 
                    <div class="form-group">
                      <button [disabled]="registerForm.invalid" id="loginbtn" class="btn btn-primary">Register</button>
                  </div>      
                </form>

                <!--form to submit code-->
                <form id="codeForm" [formGroup]="formCode" (ngSubmit)="onSubmitCode()">
                  <h3 id="logo">Image Converter <br>
                      Code</h3>
                  
                    <label for="code">Enter the 4-digit code we sent to your email address</label>
                      <input formControlName="code" placeholder="####" matInput required>
                      
                      <mat-error *ngIf="formCode.get('code')?.touched && formCode.get('code')?.invalid"> 
                  Code is <strong>required</strong>
                      </mat-error> 

                  <button id="resetbtn" [disabled]="formCode.get('code')?.invalid" type="submit">Confirm</button>
                  <p *ngIf="buttonReset != '' && !_match" class="alert alert-danger"> 
                      Invalid Code!              
                      </p> 
              </form>
            </div>
        </div>
    </body>

    </html> 
  