
     
<!-- <Moe's UI> -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
      
        <title></title>
     
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>


        
    
    
    </head>
    <body>
      <style>
        body{
            background-image:url("assets/img/register-wallpaper6.jpg");
            /* background-repeat:no-repeat;
            background-size: cover; */
        }
      </style>
        <div id="loginForm">
            <div id="formContent">
                <div class="background">
                    <div class="shape"></div>
                    <div class="shape"></div>
                </div>
                <form id="reg" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <table>
                        
                            <h3 id="logo">Register</h3>
                        <tr>   
                            <td> 
                                <label for="FName">First Name</label>
                                <input  formControlName= "name" class="form-control" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.name.errors }" />
                                <div *ngIf="submitted && registerForm.controls.name.errors" class="text-danger">
                                  <div *ngIf="registerForm.controls.name.errors.required">First Name is required</div>
                                  <div *ngIf="registerForm.controls.name.errors.minlength">First Name must be </div>
                                  <div *ngIf="registerForm.controls.name.errors.minlength">at least 2 characters</div>
                                </div>
                            </td>
                            <td>
                              <label for="surname">Surname</label>
                              <input type="text" formControlName="surname" class="form-control" placeholder="Surname"  [ngClass]="{ 'is-invalid': submitted && registerForm.controls.surname.errors }" />
                              <div *ngIf="submitted && registerForm.controls.surname.errors" class="text-danger">
                                <div *ngIf="registerForm.controls.surname.errors.required">Last Name is required</div>
                                <div *ngIf="registerForm.controls.surname.errors.minlength">Last Name must be </div>
                                <div *ngIf="registerForm.controls.surname.errors.minlength">at least 2 characters</div>
                          </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }"  />
                            <div *ngIf="submitted && registerForm.controls.password.errors" class="text-danger">
                              <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
                                     <div *ngIf="registerForm.controls.password.errors.minlength">Password must be </div>
                                     <div *ngIf="registerForm.controls.password.errors.minlength">at least 8 characters</div>
                            </div>
                        </td>

                        <td>
                          <label for="Email">Email</label>
                          <input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }" />
                          <div *ngIf="submitted && registerForm.controls.email.errors" class="text-danger">
                            <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
                             <div *ngIf="registerForm.controls.email.errors.email"> Invalid email address</div>
                          </div>
                      </td>  
              
                        </tr>
    
                        <tr>
                            
                            <td>
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" formControlName="cpassword" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.cpassword.errors }"  />
                                <div *ngIf="submitted && registerForm.controls.cpassword.errors" class="text-danger">
                                  <div *ngIf="registerForm.controls.cpassword.errors.required">Enter password again</div>
                                  <div *ngIf="registerForm.controls.cpassword.errors.minlength">Password must be </div>
                                  <div *ngIf="registerForm.controls.cpassword.errors.minlength">at least 8 characters</div>
                                  <div *ngIf="registerForm.controls.cpassword.errors.MustMatch">Password is not the same</div>                                         
                                </div>
                            </td>
                        </tr>                    
                        
                    </table> 
                    <div class="form-group">
                      <button [disabled]="registerForm.invalid" id="loginbtn" class="btn btn-primary">Register</button>
                  </div>      
                </form>

                <!--form to submit code-->
                <form id="codeForm" [formGroup]="formCode" (ngSubmit)="onSubmitCode()">
                  <h3 id="logo">Image Converter <br>
                      Code</h3>
                  
                    <label for="code">Enter the 4-digit code we sent to your email address</label>
                      <input formControlName="code" placeholder="####" matInput required>
                      
                      <mat-error *ngIf="formCode.get('code')?.touched && formCode.get('code')?.invalid"> 
                  Code is <strong>required</strong>
                      </mat-error> 

                  <button id="resetbtn" [disabled]="formCode.get('code')?.invalid" type="submit">Confirm</button>
                  <p *ngIf="buttonReset != '' && !_match" class="alert alert-danger"> 
                      Invalid Code!              
                      </p> 
              </form>
            </div>
        </div>
    </body>

    </html> 
  