<!DOCTYPE html>
<html lang="en">
<head>
  
    <title></title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>


</head>
<body>
    <style>
        body{
            /* background-image:url("assets/img/register-wallpaper6.jpg"); */
            background-image:url("assets/img/wallpaper.jpg");
            /* background-image:url("assets/img/wallpaper.jpg"); */
            /* background-repeat:no-repeat;
            background-size: cover; */
            /* background-position: 150%; */
            /* background-repeat: no-repeat; */
            /* background-size: contain;
            background-color: #fff; */
            
        }
      </style>

    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo2.png" alt="">
            <span>Image-Converter</span>
          </a>
    
          <nav id="navbar" class="navbar">
            <ul>
            
              <p id="accountLink">Don't have an account?</p>
              <li><a class="getstarted scrollto" (click)="onSubmitCode()">Register</a></li>
               <!-- <a routerLink="/register"  (click)="register()">register</a>  -->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
          
    
        </div>
      </header>
      

 

    <div id="loginForm">
        <div id="formContent">
            <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h3 id="logo" class="welcome">Welcome back</h3>
                <h2>Log in to your account below</h2>

                
                    <label for="Email">Username</label>
                    <input formControlName="username" placeholder="Email" matInput required>
                    <!-- mat-error is for validation  -->
                  
                    <mat-error *ngIf="form.get('username')?.touched && form.get('username')?.hasError('email') && !form.get('username')?.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>

                <label for="password">Password</label>
                <input id="pword"formControlName="password" placeholder="Password" matInput required [type]="hide ? 'password' : 'text'">
                <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                    Password is <strong>required</strong>
                </mat-error> <br/>
                
                
  
                <button *ngIf="!loading" id="loginbtn" [disabled]="form.get('username')?.invalid || form.get('password')?.invalid" type="submit">
                    Log In
                </button>
                <button  type="submit" *ngIf="loading">
                    <mat-spinner id="spin" [diameter]="25" primary style="margin:0 auto;"></mat-spinner>
                </button>
                <p *ngIf="buttonLogin != '' && !_match" class="alert alert-danger"> 
                    Invalid Username or Password !              
                </p> 

                    <a routerLink="/ForgotPassword" id="forgot">Forgot your password?</a>

                <!-- <p id="accountLink">Don't have an account? <a routerLink="/register"  (click)="register()">register</a></p>  -->

                
            </form>
        </div>
    </div>
</body>
</html>

