#logo{
    text-align: center;
    margin-bottom: 5%;
}

#loginForm{
    margin-top:3%;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.field{
    width:50%;
    font-size: 18px;
}
#formContent{
   width: 100%;
    margin-left: 25%;
    margin-right: 25%;
    
}
#loginbtn{
    margin-top:3%;
    width:50%;
  }
#forgot{
position: relative;
right:-15% !important;
margin-bottom: 5%;
}

#registerlink{
    color:rgb(0, 140, 255);
}
.example-card {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  