<div id = popUp>
    <div>
        <br/>
        <h2>Image</h2>
        <button class="w3-button w3-round w3-block w3-black" (click)="downloadFile(imageProcessedUrl)">
            <img [src]="imageProcessedUrl" id="popupImg" alt="img" />
        </button>
    </div>
    <div>
       <button class="w3-button w3-round w3-block w3-red" (click)="deleteImages()">Delete Images</button>
    </div>
    <br>

    <!--Image Annotation-->
    <div class="comment-form-container">
        <h1>Image Annotation   
        </h1>  
        <!-- <hr />   -->
        <div class="form-group container">
          <form [formGroup]="form" (ngSubmit)="onComment()">
            <textarea class="form-control" row="5" placeholder={{initialComment}} rows="5" formControlName="comment"></textarea>
            <button class="btn btn-success pull-right" type="submit" >
              {{commentLabel}}
            </button>
          </form>
        </div>
      </div>
</div>
