.text-heading{
  font-size:  50px;
  text-decoration: underline;
  padding-bottom: 20px;
}

#screenshot{
  width: 15%;
  height: 5%;
  border: none;
  background-color: white;
  margin-top: 50px;
}

#screenshot-button {
    margin: 10px 0;
    display: block;
    font-size: 13px;
    cursor: pointer;
    height: 5%;
    border: none;

    margin-top: 50px;
    width: 15%;
    background-color: #2f7fe7;
    // background-color: #012970;
    color: white;
    padding: 15px 0;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #screenshot-container {
    margin-top: 10px;
  }

//   screenshot-button{
//     margin-top: 50px;
//     width: 100%;
//     background-color: #ffffff;
//     padding: 15px 0;
//     font-size: 18px;
//     font-weight: 600;
//     border-radius: 5px;
//     cursor: pointer;
// }