#screenshot-button {
    margin: 10px 0;
    display: block;
    font-size: 13px;
    cursor: pointer;



    margin-top: 50px;
    width: 15%;
    background-color: #2f7fe7;
    padding: 15px 0;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #screenshot-container {
    margin-top: 10px;
  }

//   screenshot-button{
//     margin-top: 50px;
//     width: 100%;
//     background-color: #ffffff;
//     padding: 15px 0;
//     font-size: 18px;
//     font-weight: 600;
//     border-radius: 5px;
//     cursor: pointer;
// }