<div class="w3-container" id="uploadHistory" style="margin-top:5px">
    <h1 class="text-heading"><b>Plot Graph</b></h1>
    <!-- <hr style="width:50px;border:5px solid black" class="w3-round"> -->
</div>

<div id="calculator" style="width: 800px; height: 400px;"></div>

<button *ngIf="!loading" id="screenshot-button" (click) ="captureScreenshots()">Save Graph</button>
<button id="screenshot"  type="submit" *ngIf="loading">

  <!-- <div class="center">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div> -->

  <mat-spinner id="spin" [diameter]="30" primary style="margin:0 auto;"></mat-spinner>
</button>

<div id="screenshot-container" style="display: none;">
    <table>
      
      <tr>
        <td>
          <img class="screenshot" id="screenshot-1x" width="500" height="500" />
        </td>
       
      <tr>
    </table>

  </div>