
<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body *ngIf=dispBool>
  
  <!--Image Filters-->  
  <div class="w3-container" id="imageFilters" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-black"><b>Image Filters</b></h1>
    <hr style="width:50px;border:5px solid black" class="w3-round">
      <div>  
        <div class="w3-container w3-cell">
            <img id="imgLink" src={{message}} alt="response img" width="400" height="400">
          </div>
          
          <div class="w3-container w3-cell">
            <div class="w3-panel" style="width:100%">
                <button class="w3-button w3-block w3-blue" (click)="original()">Original</button>
              </div>
              <div class="w3-panel" style="width:100%">
                <button class="w3-button w3-block w3-blue" (click)="grayScale()">Grayscale</button>
              </div>
              <div class="w3-panel" style="width:100%">
                <button class="w3-button w3-block w3-blue" (click)="sepia()">Sepia</button>
            </div>
            <div class="w3-panel" style="width:100%">
                <button class="w3-button w3-block w3-blue" (click)="contrast()">Contrast</button>
            </div>
            <div class="w3-panel" style="width:100%">
                <button class="w3-button w3-block w3-blue" (click)="hueRotate()">Hue Rotate</button>
            </div>
          </div>
      </div> 
      <div class="w3-panel" style="width:15%">
        <a id='dwnldLnk' download='output.png' style="display:none;" ></a>
        <button class="w3-button w3-round w3-block w3-black" (click)="downloadFile()">Download</button>
        <div >
          <canvas id="myCanvas" ></canvas>
        </div>
      </div>
      
	  <!-- <div class="large-7 left">
		<img id="image1" src={{message}}/><br>
    <a id='dwnldLnk' download='output.png' style="display:none;" ></a> 
		<button class="w3-button w3-round w3-block w3-black" (click)="downloadFile()">Download</button>
		<canvas id="myCanvas"></canvas>
	</div> -->
   </div>
  <script src="assets/js/custom.js"></script>


</body> 
</html>


