.text-heading{
	font-size:  25px;
	text-decoration: underline;
	padding-bottom: 20px;
	// padding-top: 20px;
  }

.nav-header {
	font-size: 1.5rem;
}

.row {
	margin-bottom: 0;
}

#sourceImage,
.image-controls,
.image-save,
.preset-filters {
	display: none;
}

.image-preview {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#myCanvas {
	width: 400px;
	height: 400px;
	display: none;
}

.innertext::before {
  margin-right: 16px;
}

.innertext::after {
  margin-left: 16px;
}


.imgborder{
  border-style: 20px solid black;
}


  .imgtext-top-filter{
	white-space: nowrap;
	position:absolute ;
	right:-20px;
	color: white;
	top:402px;
	font-family: "Lucida Console", "Courier New", monospace;
  }

  .imgtext-bottom-filter{
	white-space: nowrap;
	position:absolute ;
	right:-20px;
	color: white;
	top:22px;
	font-family: "Lucida Console", "Courier New", monospace;
  }

  .imgtext-right-filter{
	white-space: nowrap;
	position:absolute;
	right:-132px;
	color: white;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	top:120px;
	font-family: "Lucida Console", "Courier New", monospace;
  }

  .imgtext-left-filter{
	white-space: nowrap;
	position:absolute;
	right:180px;
	color: white;
	transform: rotate(-90deg);
	top:220px;
	left:-54px;
	font-family: "Lucida Console", "Courier New", monospace;
  }



/* CSS */
.button-1 {
  background-color: black;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  width:120px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: grey;
}

#processedImg{
	padding-top: 24px;
}