<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FlexStart Bootstrap Template - Index</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  
</head>

<body>
    <style>
        body{
            background-image:url("assets/img/wallpaper.jpg");
            /* background-repeat:no-repeat;
            background-size: cover; */
        }
      </style>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logos.png" alt="">
        <span>Image-Converter</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          
          <!-- <li><a class="nav-link scrollto" (click)="scroll('#team')">Team</a></li> -->
          <!-- <li><a class="nav-link scrollto" (click)="goDown3()">Team</a></li> -->
          <!-- <li><a href="blog.html">Blog</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          </li> -->
          <li><a class="nav-link scrollto" (click)="onSubmitLogin()">Log In</a></li>
          <li><a class="getstarted scrollto" (click)="onSubmitCode()">Register</a></li>
          <!-- <li><button btn-get-started  ="reg" (click)="onSubmitCode()">Click me</button></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer a software solution tool that will convert images of graphs into standardized graphs.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Hosting a variety of functions such as image manipulation, image cleaning, classification and filtering for your Content Management System</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a (click)="onSubmitCode()" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/test-img2.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    
    

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>What we offer</h2>
          <p>Content Management Made Easy</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="assets/img/values-1.png" class="img-fluid" alt="">
              <h3>Core Idea</h3>
              <p>We offer content management services to MathU by shortening the content creation processes
                while making other processes multifunctional with the help of software. We also help
                maintain a high level of content quality.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="assets/img/polynomial.jpg" class="img-fluid" alt="">
              <h3>Standardisation of Images</h3>
              <p>We help MathU content managers to maintain a set standard for their images, in terms of image quality, and size. The images used are solutions to mathematical graphing problems</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="assets/img/ai2.jpg" class="img-fluid" alt="">
              <h3>Classification and Storage</h3>
              <p>Our system recognizes the types of graph images uploaded, aiding in the storage of these different images based on their classification</p>
            </div>
          </div>

        </div>

      </div>

    </section>
    <!-- End Values Section -->

    

    

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Team</h2>
          <p>Our hard working team</p>
        </header>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/OmoSauce.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/OmolemoMashigo"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/omolemo-mashigo-890250177"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Omolemo Mashigo</h4>
                <span>Team Leader</span>
                <p>I pride myself with being an all-rounder, who’s a very fast learner. I am well-organized and dedicated and I am willing to learn whatever language or framework needed to meet any project requirements. I aspire to be a decent full-stack developer, but I am currently more skilled in back-end development.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Moe.jpg" class="img-fluid" alt="">
                <div class="social">
                    <a href="https://github.com/MoeMoola3"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/mohammed-moola-604679149"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mohammed Moola</h4>
                <!-- <span>Product Manager</span> -->
                <p>I am a hardworking, ambitious student who is passionate about the field I am in. I have worked on a contract job for web application integration, therefore I have experience in the working world. I believe it will translate positively in approaching this project, in dealing with my team and conducting myself professionally. I have experience with front-end  as well as dealing with API's.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Emmanuel.jpg" class="img-fluid" alt="">
                <div class="social">
                    <a href="https://github.com/Thuso-Khoza"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/emmanuel-khoza-04b27b168/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Emmanuel Khoza</h4>
                <!-- <span>CTO</span> -->
                <p>I am currently working as a junior software developer therefore working in a team is something I am familiar with. I have worked with angular and similar frameworks such as ionic. I have not worked with python and PostGreSQL before but I am a fast learner and I am used to being around an environment of self learning.</p>
              </div>
            </div>
          </div>



        </div>



        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="member-img">
                  <img src="assets/img/team/Neo.jpeg" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://github.com/neoseefane"><i class="bi bi-github"></i></a>
                    <a href="http://www.linkedin.com/in/neo-seefane-68b8a8239"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Neo Seefane</h4>
                  <!-- <span>Chief Executive Officer</span> -->
                  <p>I am an inquisitive learner and a creative team player with excellent interpersonal and analytical skills. I have extensive experience with back-end, data structures, and development tools, with a focus on product-oriented designs. I am looking for a position in a growing company where I can apply my extensive knowledge of software design and development to meet the needs of clients while also gaining professional experience.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <div class="member-img">
                  <img src="assets/img/team/lethabo.jpeg" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://github.com/phadimanelerefolo"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/phadimane-lerefolo-9388ab1a9/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Phadimane Lethabo Lerefolo</h4>
                  <!-- <span>Product Manager</span> -->
                  <p>I am currently working as a junior software engineer, that will benefit the team since I have an experience with how most things work. I have a knack for learning new programming technologies. I am flexible and I can learn new things fast. I am familiar with technologies that we are planning on using, I have worked different projects with Angular and 1 project with python specifically the flask framework.</p>
                </div>
              </div>
            </div>
  
            
  
          </div>

      </div>

    </section><!-- End Team Section -->


    

    

  </main><!-- End #main -->

  <!-- <app-footer></app-footer> -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <!-- <img src="assets/img/Image-Converter-logos.jpeg" alt=""> -->
              <span>Image-Converter</span>
            </a>
            <p>In partnership with MathU Teaching Emporium and the COS 301 team</p>
            <div class="social-links mt-3">
              
              <a href="https://github.com/COS301-SE-2022/Image-Converter" class="linkedin"><i class="bi bi-github"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              <strong>Email:</strong> hardcode8102gmail.com Powered by by HardCode
            </p>
          
            <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
          </div>

        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>