<!-- <link href="https://www.w3schools.com/w3css/4/w3.css"> -->

<div class="w3-container" id="graphImg" style="margin-top:75px">
   <h1 class="w3-xxxlarge w3-text-black"><b>Graph Image</b></h1>
   <hr style="width:50px;border:5px solid black" class="w3-round">   
</div>

    <p>unhappy with the image quality? Plot your own graph insted</p>
    <mat-card>
      Draw Graph
      <mat-card-header></mat-card-header>
      <div mat-card-avatar></div>
      <img mat-card-image src="assets/drag.png">
      <mat-card-content>
        <!-- <add download button> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="success">Download</button>
      </mat-card-actions>
    </mat-card>

    <!-- <form [formGroup]="checkoutForm">

      <button class="button" type="submit">Purchase</button>
    
    </form>
    <form [formGroup]="checkoutForm">

      <button class="button" type="submit">Purchase</button>
    
    </form>
    <form [formGroup]="checkoutForm">

      <button class="button" type="submit">Purchase</button>
    
    </form>
    <form [formGroup]="checkoutForm">

      <button class="button" type="submit">Purchase</button>
    
    </form>

    <form [formGroup]="checkoutForm">

      <button class="button" type="submit">Purchase</button>
    
    </form>

    <form [formGroup]="checkoutForm">

      <button class="button" type="submit">Purchase</button>
    
    </form>
    <form [formGroup]="checkoutForm">

      <button class="button" type="submit">Purchase</button>
    
    </form>
 -->
