<!DOCTYPE html>
<html lang="en">
<head>
  
    <title></title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>


</head>
<body>
    <div id="loginForm">
        <div id="formContent">
            <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
            <!--form to submit email address-->
            <form id="resetForm" [formGroup]="form" (ngSubmit)="onSubmit()">
                <h3 id="logo">Image Converter </h3>
                
                    <label for="Email">Enter your email address</label>
                    <input formControlName="email" placeholder="email@mail.com" matInput required>
                    <!-- mat-error is for validation  -->
                     <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.invalid"> 
                email is <strong>required</strong>
                    </mat-error> 
  
                <button id="resetbtn" [disabled]="form.get('email')?.invalid" type="submit">Reset password</button>
                <p *ngIf="buttonReset != '' && !_match" class="alert alert-danger"> 
                    Invalid Email!              
                    </p> 
            </form>
            <!--form to submit code-->
            <form id="codeForm" [formGroup]="formCode" (ngSubmit)="onSubmitCode()">
                <h3 id="logo">Image Converter <br>
                    Code</h3>
                
                  <label for="code">Enter the 4-digit code we sent to your email address</label>
                    <input formControlName="code" placeholder="####" matInput required>
                    
                     <mat-error *ngIf="formCode.get('code')?.touched && formCode.get('code')?.invalid"> 
                Code is <strong>required</strong>
                    </mat-error> 
  
                <button id="resetbtn" [disabled]="formCode.get('code')?.invalid" type="submit">Confirm</button>
                <p *ngIf="buttonReset != '' && !_match" class="alert alert-danger"> 
                    Invalid Code!              
                    </p> 
            </form>
            <!--form to submit new password-->
            <form id="passForm" [formGroup]="formPass" (ngSubmit)="submitPass()">
                <h3 id="logo">Image Converter <br>
                    Password</h3>
                
                  <label for="password">Enter New Password</label>
                    <input type="password" formControlName="password" matInput required>
                    
                     <mat-error *ngIf="formPass.get('password')?.touched && formPass.get('password')?.invalid"> 
                        Password is <strong>required</strong>
                    </mat-error> 
                
                <button id="resetbtn" [disabled]="formPass.get('password')?.invalid" type="submit">Confirm</button>
                <p *ngIf="buttonReset != '' && !_match" class="alert alert-danger"> 
                    Invalid Password!              
                    </p> 
            </form>
        </div>
    </div>
</body>
</html>