<!DOCTYPE html>
<html lang="en">
<head>
  
    <title></title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>


</head>
<body>

    <style>
        body{
            /* background-image:url("assets/img/register-wallpaper6.jpg"); */
            background-image:url("assets/img/wallpaper.jpg");
            /* background-image:url("assets/img/wallpaper.jpg"); */
            /* background-repeat:no-repeat;
            background-size: cover; */
            /* background-position: 150%; */
            /* background-repeat: no-repeat; */
            /* background-size: contain;
            background-color: #fff; */
            
        }
      </style>


<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logos.png" alt="">
        <span>Image-Converter</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
        
          <p id="accountLink">Don't have an account?</p>
          <li><a class="getstarted scrollto" (click)="onSubmitCode()">Register</a></li>
           <!-- <a routerLink="/register"  (click)="register()">register</a>  -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      

    </div>
  </header>

    <div id="loginForm">
        <div id="formContent">
            <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
            <!--form to submit email address-->
            <form id="resetForm" [formGroup]="form" (ngSubmit)="onSubmit()">
                <h3 id="logo">Image Converter </h3>
                
                    <label for="Email">Enter your email address</label>
                    <input formControlName="email" placeholder="email@mail.com" matInput required>
                    <!-- mat-error is for validation  -->
                   
                    <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>

                <button id="resetbtn" [disabled]="form.get('email')?.invalid" type="submit">Reset password</button>
                <p *ngIf="buttonReset != '' && !_match" class="alert alert-danger"> 
                    Invalid Email!              
                    </p> 
            </form>
            <!--form to submit code-->
            <form id="codeForm" [formGroup]="formCode" (ngSubmit)="onSubmitCode()">
                <h3 id="logo">Image Converter <br>
                    Code</h3>
                
                  <label for="code">Enter the 4-digit code we sent to your email address</label>
                    <input formControlName="code" placeholder="####" matInput required>
                    
                     <mat-error class="text-danger" *ngIf="formCode.get('code')?.touched && formCode.get('code')?.invalid"> 
                        Please enter 4 <strong class="text-danger">numeric</strong> digits
                    </mat-error>
                <button id="resetbtn" [disabled]="formCode.get('code')?.invalid" type="submit">Confirm</button>
                <p *ngIf="buttonReset != '' && !_match" class="alert alert-danger"> 
                    Invalid Code!              
                </p> 
            </form>
            <!--form to submit new password-->
            <form id="passForm" [formGroup]="formPass" (ngSubmit)="submitPass()">
                <h3 id="logo">Image Converter <br>
                    Password</h3>
                
                  <label for="password">Enter New Password</label>
                    <input type="password" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': formPass.get('password')?.touched && formPass.controls.password.errors }" required/>
                   
                    <div *ngIf="formPass.get('password')?.touched && formPass.controls.password.errors" class="text-danger">
                        <div *ngIf="formPass.controls.password.errors.required">Enter password again</div>
                        <div *ngIf="formPass.controls.password.errors.minlength">Password must be </div>
                        <div *ngIf="formPass.controls.password.errors.minlength">at least 8 characters</div>                                         
                    </div>

                    <label for="cpassword">Confirm Password</label>
                    <input type="password" formControlName="cpassword"  placeholder="Password" [ngClass]="{ 'is-invalid': formPass.get('cpassword')?.touched && formPass.controls.cpassword.errors }" required />
                    <div *ngIf="formPass.get('cpassword')?.touched && formPass.controls.cpassword.errors" class="text-danger">
                      <div *ngIf="formPass.controls.cpassword.errors.required">Enter password again</div>
                      <div *ngIf="formPass.controls.cpassword.errors.minlength">Password must be </div>
                      <div *ngIf="formPass.controls.cpassword.errors.minlength">at least 8 characters</div>
                      <div *ngIf="formPass.controls.cpassword.errors.MustMatch">Password is not the same</div>                                         
                    </div>
                    
                <button id="resetbtn" [disabled]=" formPass.get('cpassword')?.invalid" type="submit">Confirm</button>
                <p *ngIf="buttonReset != '' && !_match" class="alert alert-danger"> 
                    Invalid Password!              
                    </p> 
            </form>
        </div>
    </div>
</body>
</html>