<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body>

  <nav class="w3-sidebar w3-black w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <div class="w3-container">
      <h3 class="w3-padding-64"><b>Image<br>Converter</b></h3>
    </div>
    <div class="w3-bar-block">
      <a (click)="toHome()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
      <a (click)="toImageUpload()"  class="w3-bar-item w3-button w3-hover-white">Image Upload</a> 
      <!-- <a (click)="toImageFilter()" class="w3-bar-item w3-button w3-hover-white">Image Filters</a>  -->
      <a (click)="toConversionFormat()"  class="w3-bar-item w3-button w3-hover-white">Conversion Formats</a> 
      <a (click)="toGraphing()"  class="w3-bar-item w3-button w3-hover-white">Graphing</a>
      <a (click)="toUploadHistory()"  class="w3-bar-item w3-button w3-hover-white">Upload History</a> 
      <a (click)="toContact()"  class="w3-bar-item w3-button w3-hover-white">Contact</a>
      <a (click)="logout()"  class="w3-bar-item w3-button w3-hover-white">Logout</a>
    </div>
  </nav>



<!-- Sidebar/menu -->
<app-side-bar></app-side-bar>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="home">
    <h1 class="w3-xxxlarge w3-text-black"><b>Home</b></h1>
    <hr style="width:50px;border:5px solid black" class="w3-round">
  </div>
  
  <div class="w3-row-padding">
    <div class="w3-" id="home">
      <p>With our current climate of easy access to information, we are faced with the problem of information overload. Therefore it is important 
          that we are able to view data in a concise format. This will allow us to understand the data in a comprehensive manner without getting 
          distracted by unnecessary information. 
          <br>
          <br>
          Graphing is a way to counter the problem effectively. However, mismatched or unclear graphs fail to 
          help us understand the data adequately. This tool enables the standardization of graphs to solve this problem. 
          <br>
          <br>
          The Image converter hosts a variety of functions from analyzing graphs to outputting newly generated graph images.
        </p>
      
    </div>

  </div>

  <!-- Image Upload -->
  <div class="w3-container" id="imageUpload" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-black"><b>Image Upload</b></h1>
    <hr style="width:50px;border:5px solid black" class="w3-round">

    <app-converter></app-converter>
  </div>
  
    <!-- Image Filters -->
    <div id="imageFilter">
      <app-filter></app-filter>
    </div>
  <!-- Conversion Formats -->
  <div id="conversionFormat">
    <app-conversion></app-conversion>
  </div>
   <!-- Graphing -->
   <div id="graphPlotting">
    <app-graph-plotting></app-graph-plotting>
  </div>
<!-- Upload History-->
  <div id="uploadHistory">
    <app-upload-history></app-upload-history>
  </div>
  <!-- Contact -->
  <div id="contact">
    <app-contact></app-contact>
  </div>
<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://github.com/COS301-SE-2022/Image-Converter" title="" target="_blank" class="w3-hover-opacity">Hardcode</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

</script>
<div class="container">
  <router-outlet></router-outlet>
</div>

</body>
</html>
