 <!-- <form ngNoForm  [action]="url" method="POST"
      target="_blank" class="paymentWidgets" data-brands="VISA MASTER">
        <input type="hidden" name="merchant_id" value="10026978">
        <input type="hidden" name="merchant_key" value="e4a19ejei0yoz">
        <input type="hidden" name="amount" value="30.00">
        <input type="hidden" name="item_name" value="Test Product">
        <input type="submit">
  </form> -->

  <form ngNoForm  [action]="url" method="POST"
    target="_blank" class="paymentWidgets" data-brands="VISA MASTER">
    <input type="hidden" name="merchant_id" value="15088645">
    <input type="hidden" name="merchant_key" value="iqikhtn8lovcp">
    <input type="hidden" name="amount" value="30.00">
    <input type="hidden" name="item_name" value="Test Product">
    <input type="submit">
</form>
