:root {
  --accent: #2ed573
}

* {
  margin: 0;
  padding: 0;
}

.text-heading{
  font-size:  50px;
  text-decoration: underline;
  padding-bottom: 20px;
}
#uploadcard {
  display: inline-block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
  }
  #uploadedImg{
    max-height: 40%;
  }
  #drag{
    color:white;
  }
  #load{
    display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  }
  


  //footer
  


  .header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    // background-color: rgb(190, 185, 185);
    background-color: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.7);
  }
  
  .header.header-scrolled {
    background: rgb(139, 37, 37);
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.9);
  }
  
  .header .logo {
    line-height: 0;
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #333333;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }




  /*
    RESPONSIVE NAVBAR
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  position: fixed;
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  display: -ms-grid;
  place-items: center;
  height: 100vh;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #333333;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #333333;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


bodY {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  height: 100%;
  width: 100%;
  margin-top: 160px;
  margin-left: -10px;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.wave {
  width: 10px;
  height: 110px;
  background: linear-gradient(45deg, #333333, rgb(64, 102, 184));
  // background: linear-gradient(45deg, rgb(15, 21, 109), #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* ---------------------------------------------------
    ImageDimensions Border Styling
----------------------------------------------------- */

:root {
  --accent: #0e0a0d;
}

* {
  margin: 0;
  padding: 0;
}

.fieldsetWrapper {
  position: fixed;
  font-family: "Poppins", sans-serif;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.fieldsetContainer {
  display: -ms-grid;
  display: grid;
  width: 489px;
  height: 500px;
}

fieldset {
  width: inherit;
  grid-area: 1 / 1;
  border: solid 12px transparent;
  border-top-color: var(--accent);
  padding: 20px;
  box-sizing: border-box;
}

fieldset:nth-of-type(1) {
  background-image: url(/download.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

fieldset:nth-of-type(2) {
  transform: rotate(90deg);
}

fieldset:nth-of-type(3) {
  transform: rotate(180deg);
}

fieldset:nth-of-type(4) {
  transform: rotate(-90deg);
}

legend {
  padding: 0 6px;
  margin: auto;
}

fieldset:nth-of-type(3) > legend {
  transform: rotate(180deg);
}

.uploadBox{
  // display: inline-block;
  padding: 20px;
}

.textBox{
  display: inline-block;
  padding: 5px;
  border: 5px solid black;
  border-radius: 20px;  
  }

  // h4{
  //   text-decoration:underline;
  // }
  h4 {
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight:700;
    line-height: 1.7em;
    color: black;
}

.box-text{
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight:400;
  line-height: 1.7em;
  color: black;
}