<div class="w3-container" id="uploadHistory" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-black"><b>Upload History</b></h1>
    <hr style="width:50px;border:5px solid black" class="w3-round">

    <h1>Recent Uploads</h1>
      <div>
        <mat-grid-list cols="1" rowHeight="4:1" *ngFor="let image of uploadedImg" >
            <mat-grid-tile>
                <button (click)="imageClick({image})"><img id="imgLink" src={{image}} alt="response img" width="400" ></button>
            </mat-grid-tile>
        </mat-grid-list> 
      </div>
</div>
